{
  "ignore": [
    "src/**/_TEST_/*.spec.js"
  ],
  "plugins": [
    "transform-optional-chaining",
    "transform-object-rest-spread",
    "transform-es2015-shorthand-properties",
    ["babel-plugin-webpack-alias", { "findConfig": true }],
    ["inline-replace-variables", {
      "ENV": { "type": "node", "replacement": "process.env.NODE_ENV" },
      "LOGLEVEL": { "type": "node", "replacement": "process.env.LOGLEVEL" },
      "FLICKR_API_KEY": { "type": "node", "replacement": "process.env.FLICKR_API_KEY" }
    }],
    "inline-dotenv",
    ["provide-modules", {
      "graphql": [
        { "GraphQLBoolean": "GqlBool" },
        { "GraphQLEnumType": "GqlEnum" },
        { "GraphQLError": "GqlError" },
        { "GraphQLFloat": "GqlFloat" },
        { "GraphQLID": "GqlID" },
        { "GraphQLInputObjectType": "GqlInput" },
        { "GraphQLInt": "GqlInt" },
        { "GraphQLInterfaceType": "GqlInterface" },
        { "GraphQLList": "GqlList" },
        { "GraphQLNonNull": "GqlNonNull" },
        { "GraphQLObjectType": "GqlObject" },
        { "GraphQLScalarType": "GqlScalar" },
        { "GraphQLSchema": "GqlSchema" },
        { "GraphQLString":  "GqlString" },
        { "GraphQLUnion": "GqlUnion" }
      ],
      "graphql-iso-date": [
        { "GraphQLDate": "GqlDate" },
        { "GraphQLDateTime": "GqlDateTime" },
        { "GraphQLTime": "GqlTime" }
      ],
      "graphql-custom-types": [
        { "GraphQLEmail": "GqlEmail" },
        { "GraphQLURL": "GqlURL" }
      ],
      "graphql-relay": [
        { "globalIdField": "globalId" },
        "toGlobalId",
        "fromGlobalId"
      ],
      "dataloader": "Dataloader",
      "winston": [ "log", "info", "debug", "error" ]
    }]
  ],
  "presets": [
    ["env", {
      "targets": { "node": "6.10" },
      "useBuiltIns": "usage"
    }],
    "stage-0",
    "flow"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline",
      "plugins": [
        "istanbul"
      ],
      "presets": [
        "babel-preset-power-assert"
      ]
    }
  }
}
