# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
/.webpack

.DS_STORE
npm-debug.log*
yarn-error.log*
.env
.nyc_output
coverage.lcov
engine.json
/dist
/build
/typings
/.awcache
/.ssh
/electron.js*
